<p id="notice"><%= notice %></p>

<h1>Ventaganancia</h1>

<table>
  <thead>
    <tr>
      <th>Fechaventa</th>
      <th>Cantidad</th>
      <th>Valorunidad</th>
      <th>Total</th>
      <th>Donacion</th>
      <th>Comprador</th>
      <th>Detalleparametros</th>
      <th>Redenciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventaganancia.each do |ventaganancium| %>
      <tr>
        <td><%= ventaganancium.fechaventa %></td>
        <td><%= ventaganancium.cantidad %></td>
        <td><%= ventaganancium.valorunidad %></td>
        <td><%= ventaganancium.total %></td>
        <td><%= ventaganancium.donacion %></td>
        <td><%= ventaganancium.comprador %></td>
        <td><%= ventaganancium.detalleparametros %></td>
        <td><%= ventaganancium.redenciones %></td>
        <td><%= link_to 'Show', ventaganancium %></td>
        <td><%= link_to 'Edit', edit_ventaganancium_path(ventaganancium) %></td>
        <td><%= link_to 'Destroy', ventaganancium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventaganancium', new_ventaganancium_path %>
