<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaventa:</strong>
  <%= @ventaganancium.fechaventa %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ventaganancium.cantidad %>
</p>

<p>
  <strong>Valorunidad:</strong>
  <%= @ventaganancium.valorunidad %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ventaganancium.total %>
</p>

<p>
  <strong>Donacion:</strong>
  <%= @ventaganancium.donacion %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @ventaganancium.comprador %>
</p>

<p>
  <strong>Detalleparametros:</strong>
  <%= @ventaganancium.detalleparametros %>
</p>

<p>
  <strong>Redenciones:</strong>
  <%= @ventaganancium.redenciones %>
</p>

<%= link_to 'Edit', edit_ventaganancium_path(@ventaganancium) %> |
<%= link_to 'Back', ventaganancia_path %>
