<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaexpiracion:</strong>
  <%= @metasxreto.fechaexpiracion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @metasxreto.cantidad %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @metasxreto.nota %>
</p>

<p>
  <strong>Retos:</strong>
  <%= @metasxreto.retos %>
</p>

<p>
  <strong>Detalleparametros:</strong>
  <%= @metasxreto.detalleparametros %>
</p>

<%= link_to 'Edit', edit_metasxreto_path(@metasxreto) %> |
<%= link_to 'Back', metasxretos_path %>
