<%= form_with(model: ventum, local: true) do |form| %>
  <% if ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fechaventa %>
    <%= form.datetime_select :fechaventa %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :valorunidad %>
    <%= form.number_field :valorunidad %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="field">
    <%= form.label :donacion %>
    <%= form.text_field :donacion %>
  </div>

  <div class="field">
    <%= form.label :comprador %>
    <%= form.text_field :comprador %>
  </div>

  <div class="field">
    <%= form.label :detalleparametros_id %>
    <%= form.text_field :detalleparametros_id %>
  </div>

  <div class="field">
    <%= form.label :redencions_id %>
    <%= form.text_field :redencions_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
