<p id="notice"><%= notice %></p>

<p>
  <strong>Iddetalleparametro:</strong>
  <%= @ventum.iddetalleparametro %>
</p>

<p>
  <strong>Idredencion:</strong>
  <%= @ventum.idredencion %>
</p>

<p>
  <strong>Fechaventa:</strong>
  <%= @ventum.fechaventa %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ventum.cantidad %>
</p>

<p>
  <strong>Valorunidad:</strong>
  <%= @ventum.valorunidad %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ventum.total %>
</p>

<p>
  <strong>Donacion:</strong>
  <%= @ventum.donacion %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
