<%= form_with(model: recoleccion, local: true) do |form| %>
  <% if recoleccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recoleccion.errors.count, "error") %> prohibited this recoleccion from being saved:</h2>

      <ul>
      <% recoleccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idventa %>
    <%= form.number_field :idventa %>
  </div>

  <div class="field">
    <%= form.label :iddetalleparametro %>
    <%= form.number_field :iddetalleparametro %>
  </div>

  <div class="field">
    <%= form.label :idredencion %>
    <%= form.number_field :idredencion %>
  </div>

  <div class="field">
    <%= form.label :idpuntorecoleccion %>
    <%= form.number_field :idpuntorecoleccion %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.number_field :nota %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :retousuarios_id %>
    <%= form.text_field :retousuarios_id %>
  </div>

  <div class="field">
    <%= form.label :detalleparametros_id %>
    <%= form.text_field :detalleparametros_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
