<p id="notice"><%= notice %></p>

<h1>Recoleccions</h1>

<table>
  <thead>
    <tr>
      <th>Idrecoleccion</th>
      <th>Idretousuario</th>
      <th>Idusu invitado</th>
      <th>Iddetalleparametro</th>
      <th>Idredencion</th>
      <th>Idpuntorecoleccion</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recoleccions.each do |recoleccion| %>
      <tr>
        <td><%= recoleccion.idrecoleccion %></td>
        <td><%= recoleccion.Idretousuario %></td>
        <td><%= recoleccion.idusu_invitado %></td>
        <td><%= recoleccion.iddetalleparametro %></td>
        <td><%= recoleccion.idredencion %></td>
        <td><%= recoleccion.idpuntorecoleccion %></td>
        <td><%= recoleccion.Estado %></td>
        <td><%= recoleccion.Fecha %></td>
        <td><%= recoleccion.Cantidad %></td>
        <td><%= link_to 'Show', recoleccion %></td>
        <td><%= link_to 'Edit', edit_recoleccion_path(recoleccion) %></td>
        <td><%= link_to 'Destroy', recoleccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recoleccion', new_recoleccion_path %>
