<p id="notice"><%= notice %></p>

<p>
  <strong>Idusu invitado:</strong>
  <%= @recoleccion.idusu_invitado %>
</p>

<p>
  <strong>Iddetalleparametro:</strong>
  <%= @recoleccion.iddetalleparametro %>
</p>

<p>
  <strong>Idredencion:</strong>
  <%= @recoleccion.idredencion %>
</p>

<p>
  <strong>Idpuntorecoleccion:</strong>
  <%= @recoleccion.idpuntorecoleccion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @recoleccion.estado %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @recoleccion.fecha %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @recoleccion.cantidad %>
</p>

<p>
  <strong>Idventa:</strong>
  <%= @recoleccion.idventa %>
</p>

<p>
  <strong>Retousuario:</strong>
  <%= @recoleccion.retousuario %>
</p>

<p>
  <strong>Detalleparametro:</strong>
  <%= @recoleccion.detalleparametro %>
</p>

<%= link_to 'Edit', edit_recoleccion_path(@recoleccion) %> |
<%= link_to 'Back', recoleccions_path %>
