<p id="notice"><%= notice %></p>

<h1>Detalleparametros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Parametros</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalleparametros.each do |detalleparametro| %>
      <tr>
        <td><%= detalleparametro.nombre %></td>
        <td><%= detalleparametro.parametros_id %></td>
        <td><%= link_to 'Show', detalleparametro %></td>
        <td><%= link_to 'Edit', edit_detalleparametro_path(detalleparametro) %></td>
        <td><%= link_to 'Destroy', detalleparametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalleparametro', new_detalleparametro_path %>
