<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @detalleparametro.nombre %>
</p>

<p>
  <strong>Parametros:</strong>
  <%= @detalleparametro.parametros_id %>
</p>

<%= link_to 'Edit', edit_detalleparametro_path(@detalleparametro) %> |
<%= link_to 'Back', detalleparametros_path %>
