<p id="notice"><%= notice %></p>

<p>
  <strong>Idparametro:</strong>
  <%= @detalleparametro.idparametro %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @detalleparametro.nombre %>
</p>

<p>
  <strong>Parametro:</strong>
  <%= @detalleparametro.parametro %>
</p>

<%= link_to 'Edit', edit_detalleparametro_path(@detalleparametro) %> |
<%= link_to 'Back', detalleparametros_path %>
