<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @redencione.idusuario %>
</p>

<p>
  <strong>Fecharedencion:</strong>
  <%= @redencione.fecharedencion %>
</p>

<p>
  <strong>Cantidadpremio:</strong>
  <%= @redencione.Cantidadpremio %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @redencione.disponible %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @redencione.nota %>
</p>

<p>
  <strong>Detalleparametros:</strong>
  <%= @redencione.detalleparametros %>
</p>

<%= link_to 'Edit', edit_redencione_path(@redencione) %> |
<%= link_to 'Back', redenciones_path %>
