<p id="notice"><%= notice %></p>

<h1>Retos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Patrocinadox</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retos.each do |reto| %>
      <tr>
        <td><%= reto.nombre %></td>
        <td><%= reto.patrocinadox %></td>
        <td><%= reto.users_id %></td>
        <td><%= link_to 'Show', reto %></td>
        <td><%= link_to 'Edit', edit_reto_path(reto) %></td>
        <td><%= link_to 'Destroy', reto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reto', new_reto_path %>
