<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @reto.nombre %>
</p>

<p>
  <strong>Patrocinadox:</strong>
  <%= @reto.patrocinadox %>
</p>

<p>
  <strong>Users:</strong>
  <%= @reto.users_id %>
</p>

<%= link_to 'Edit', edit_reto_path(@reto) %> |
<%= link_to 'Back', retos_path %>
