<%= form_with(model: redencion, local: true) do |form| %>
  <% if redencion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(redencion.errors.count, "error") %> prohibited this redencion from being saved:</h2>

      <ul>
      <% redencion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idusuario %>
    <%= form.number_field :idusuario %>
  </div>

  <div class="field">
    <%= form.label :fecharedencion %>
    <%= form.datetime_select :fecharedencion %>
  </div>

  <div class="field">
    <%= form.label :Cantidadpremio %>
    <%= form.number_field :Cantidadpremio %>
  </div>

  <div class="field">
    <%= form.label :disponible %>
    <%= form.number_field :disponible %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :detalleparametros_id %>
    <%= form.text_field :detalleparametros_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
