<p id="notice"><%= notice %></p>

<h1>Redencions</h1>

<table>
  <thead>
    <tr>
      <th>Idusuario</th>
      <th>Fecharedencion</th>
      <th>Cantidadpremio</th>
      <th>Disponible</th>
      <th>Nota</th>
      <th>Detalleparametros</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redencions.each do |redencion| %>
      <tr>
        <td><%= redencion.idusuario %></td>
        <td><%= redencion.fecharedencion %></td>
        <td><%= redencion.Cantidadpremio %></td>
        <td><%= redencion.disponible %></td>
        <td><%= redencion.nota %></td>
        <td><%= redencion.detalleparametros %></td>
        <td><%= link_to 'Show', redencion %></td>
        <td><%= link_to 'Edit', edit_redencion_path(redencion) %></td>
        <td><%= link_to 'Destroy', redencion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redencion', new_redencion_path %>
