<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @redencion.idusuario %>
</p>

<p>
  <strong>Idpremio:</strong>
  <%= @redencion.idpremio %>
</p>

<p>
  <strong>Fecharedencion:</strong>
  <%= @redencion.fecharedencion %>
</p>

<p>
  <strong>Cantidadpremio:</strong>
  <%= @redencion.Cantidadpremio %>
</p>

<p>
  <strong>Cantidadpremio:</strong>
  <%= @redencion.Cantidadpremio %>
</p>

<p>
  <strong>Reto:</strong>
  <%= @redencion.reto %>
</p>

<%= link_to 'Edit', edit_redencion_path(@redencion) %> |
<%= link_to 'Back', redencions_path %>
