<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @redencion.idusuario %>
</p>

<p>
  <strong>Fecharedencion:</strong>
  <%= @redencion.fecharedencion %>
</p>

<p>
  <strong>Cantidadpremio:</strong>
  <%= @redencion.Cantidadpremio %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @redencion.disponible %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @redencion.nota %>
</p>

<p>
  <strong>Detalleparametros:</strong>
  <%= @redencion.detalleparametros %>
</p>

<%= link_to 'Edit', edit_redencion_path(@redencion) %> |
<%= link_to 'Back', redencions_path %>
