<p id="notice"><%= notice %></p>

<p>
  <strong>Ubicacionx:</strong>
  <%= @puntoecologico.ubicacionx %>
</p>

<p>
  <strong>Ubicaciony:</strong>
  <%= @puntoecologico.ubicaciony %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @puntoecologico.nombre %>
</p>

<p>
  <strong>Idresponsable:</strong>
  <%= @puntoecologico.idresponsable %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @puntoecologico.fechainicio %>
</p>

<p>
  <strong>Fechacierre:</strong>
  <%= @puntoecologico.fechacierre %>
</p>

<%= link_to 'Edit', edit_puntoecologico_path(@puntoecologico) %> |
<%= link_to 'Back', puntoecologicos_path %>
