<p id="notice"><%= notice %></p>

<p>
  <strong>Idpuntoecologico:</strong>
  <%= @puntoecologico.idpuntoecologico %>
</p>

<p>
  <strong>Ubicacionx:</strong>
  <%= @puntoecologico.Ubicacionx %>
</p>

<p>
  <strong>Ubicaciony:</strong>
  <%= @puntoecologico.Ubicaciony %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @puntoecologico.Nombre %>
</p>

<p>
  <strong>Idresponsable:</strong>
  <%= @puntoecologico.idresponsable %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @puntoecologico.Fechainicio %>
</p>

<p>
  <strong>Fechacierre:</strong>
  <%= @puntoecologico.Fechacierre %>
</p>

<%= link_to 'Edit', edit_puntoecologico_path(@puntoecologico) %> |
<%= link_to 'Back', puntoecologicos_path %>
