<!DOCTYPE html>
<html>
  <head>
    <title>RailsRcapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if current_user %>
      <%= current_user.email %>.
    <% end %>

    <% if current_user %>
      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Iniciar sesión', new_user_session_path %>
      <%= link_to 'Registrarse', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
