<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @usuario.idusuario %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @usuario.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @usuario.fechanacimiento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario.direccion %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @usuario.barrio %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @usuario.edificio %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @usuario.genero %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa %>
</p>

<p>
  <strong>Clienteacueducto:</strong>
  <%= @usuario.clienteacueducto %>
</p>

<p>
  <strong>Jac:</strong>
  <%= @usuario.jac %>
</p>

<p>
  <strong>Idperfildetpar:</strong>
  <%= @usuario.idperfildetpar %>
</p>

<p>
  <strong>Idlocalidad:</strong>
  <%= @usuario.idlocalidad %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
