<%= form_with(model: retousuario, local: true) do |form| %>
  <% if retousuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retousuario.errors.count, "error") %> prohibited this retousuario from being saved:</h2>

      <ul>
      <% retousuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lema %>
    <%= form.text_field :lema %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :retos_id %>
    <%= form.text_field :retos_id %>
  </div>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
