<p id="notice"><%= notice %></p>

<p>
  <strong>Lema:</strong>
  <%= @retousuario.lema %>
</p>

<p>
  <strong>Reto:</strong>
  <%= @retousuario.reto %>
</p>

<p>
  <strong>Users:</strong>
  <%= @retousuario.users %>
</p>

<%= link_to 'Edit', edit_retousuario_path(@retousuario) %> |
<%= link_to 'Back', retousuarios_path %>
