<p id="notice"><%= notice %></p>

<p>
  <strong>Idreto:</strong>
  <%= @retousuario.idreto %>
</p>

<p>
  <strong>Idusu invitado:</strong>
  <%= @retousuario.idusu_invitado %>
</p>

<p>
  <strong>Lema:</strong>
  <%= @retousuario.lema %>
</p>

<%= link_to 'Edit', edit_retousuario_path(@retousuario) %> |
<%= link_to 'Back', retousuarios_path %>
