<%= form_with(model: metum, local: true) do |form| %>
  <% if metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metum.errors.count, "error") %> prohibited this metum from being saved:</h2>

      <ul>
      <% metum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fechaexpiracion %>
    <%= form.datetime_select :fechaexpiracion %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :retos_id %>
    <%= form.text_field :retos_id %>
  </div>

  <div class="field">
    <%= form.label :detalleparametros_id %>
    <%= form.text_field :detalleparametros_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
