<p id="notice"><%= notice %></p>

<h1>Meta</h1>

<table>
  <thead>
    <tr>
      <th>Fechaexpiracion</th>
      <th>Cantidad</th>
      <th>Retos</th>
      <th>Detalleparametros</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meta.each do |metum| %>
      <tr>
        <td><%= metum.fechaexpiracion %></td>
        <td><%= metum.cantidad %></td>
        <td><%= metum.retos %></td>
        <td><%= metum.detalleparametros %></td>
        <td><%= link_to 'Show', metum %></td>
        <td><%= link_to 'Edit', edit_metum_path(metum) %></td>
        <td><%= link_to 'Destroy', metum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metum', new_metum_path %>
