<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @metum.idusuario %>
</p>

<p>
  <strong>Iddetalleparametro:</strong>
  <%= @metum.iddetalleparametro %>
</p>

<p>
  <strong>Idreto:</strong>
  <%= @metum.idreto %>
</p>

<p>
  <strong>Fechaexpiracion:</strong>
  <%= @metum.Fechaexpiracion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @metum.cantidad %>
</p>

<p>
  <strong>Reto:</strong>
  <%= @metum.reto %>
</p>

<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
