<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaexpiracion:</strong>
  <%= @metum.fechaexpiracion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @metum.cantidad %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @metum.nota %>
</p>

<p>
  <strong>Retos:</strong>
  <%= @metum.retos %>
</p>

<p>
  <strong>Detalleparametros:</strong>
  <%= @metum.detalleparametros %>
</p>

<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
